*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #043873;
    color: #fff;
    padding: 30px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 16px;
    }
  
    h2 {
      margin: 0;
      font-size: 20px;
  
      a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;
  
        &:hover {
          color: #ffcc00; /* Gold color on hover */
        }
      }
    }
  
    nav ul {
      list-style: none;
      display: flex;
      gap: 2rem;
      margin: 0;
      padding: 0;
  
      li {
        a {
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          transition: color 0.3s, transform 0.3s;
  
          &:hover {
            color: #f12525; 
            transform: scale(1.1); /* Slightly increase size on hover */
          }
        }
      }
    }
}
 